body{
    margin: 0%;
}
.header {
    background-color: #fed99b;
    margin: 0px 0px;
    height: 50px;
    display: flex;
}
.header__title {
    display: flex;
    margin: 5px;
}
.container {
display: flex;
align-items: center;
flex-direction: column;
margin: 40px 120px;
padding-bottom: 200px;
}
.container__subtitle {
    font-size: 35px;
}
.container__landscape {
width: 200px;
height: 200px;
overflow: hidden;
border-radius: 50%;
}
.container__landscape--img {
width: auto;
height: 152%;
margin-left: -2px;

}
